.btn.dropdown-button {
  background-color: #254962;
}

btn.dropdown-button:hover, 
.btn.dropdown-button:focus {
  background-color: #254962;
}

.btn.dropdown-button:active,
.show > .btn.dropdown-button.dropdown-toggle {
  background-color: #254962;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-button svg {
  width: 24px;
  height: 24px;
}

.dropdown-item {
  padding: 0.5rem 1rem;
}

@media (min-width: 1024px) {
  .dropdown-button svg {
  width: 32px;
  height: 32px;}

  .dropdown-item {
  padding: 1rem 2rem;
}
}