.movie-tab {
    position: relative;
    border-radius: 8px;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease;
    flex-direction: column;
    overflow: hidden;
    background-color: #101B23;
}

.movie-title {
    font-size: 16px;
}

.movie-release-date {
    font-size: 14px;
    }

.movie-img-div {
    position: relative;
    aspect-ratio: 3/4;
    width: 100%;
}

.movie-img-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.movie-tab:hover {
    transform: translateY(-10px);
}

/* Didn't look good when pressing fav button
.movie-tab:active {
    transform: translateY(5px);
    opacity: 0.9;
}*/

.movie-information {
    padding: 0.5rem;
}

.movie-information p {
    opacity: 50%;
}


/*Old styling using headache inducing unicode
    .fav-button {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    position: absolute;
    color: #EDF7FD;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    outline: none;
    flex-shrink: 0;
    min-width: 40px; 
    min-height: 40px;
    right: 0.1em;
    top: 0.1em;
    z-index: 10;
    line-height: 1;
    box-sizing: border-box;
}*/

.fav-button {
    position: absolute;
    top: 0.1em;
    right: 0.1em;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    color: #EDF7FD;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 10;
    padding: 0;
}

.fav-button svg {
    font-size: 18px;
}


.fav-button svg:hover {
  fill: #254962;
}

.fav-button:hover {
  transform: scale(1.1);
}

.fav-button:active {
  transform: scale(0.9);
}

.favorited-icon {
    fill: rgb(244, 64, 64);
}

@media (min-width: 1024px) {
  .movie-title {
    font-size: 24px;
    }
    .movie-release-date {
    font-size: 18px;
    }

    /* Old styling using headache inducing unicode
    .fav-button {
    width: 70px;
    height: 70px;
    font-size: 36px;
    min-width: 70px; 
    min-height: 70px;
}*/

    .fav-button {
        width: 60px;
        height: 60px;
        min-width: 60px;
        min-height: 60px;
    }
    .fav-button svg {
        font-size: 28px;
    }
}